span.mention.roleMention-2Bj0ju.wrapper-3WhCwL{
    color:#7289DA
}
span.mention.roleMention-2Bj0ju.wrapper-3WhCwL{
    background-color: unset
}
span.mention.wrapper-3WhCwL.mention.interactive{
    color:#7289DA
}
span.mention.wrapper-3WhCwL.mention.interactive{
    background-color: unset
}
